<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Ikudehinbu Beauty Abimbola</title>
  <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500&family=Raleway:wght@100;200;300;400;500&family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous" />
<script src="https://kit.fontawesome.com/b9a42d0ab6.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.3/particles.min.js"></script><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
<section class="nav">

  <h1>Ikudehinbu Beauty A.</h1>

  <h3 class="span loader">
    <span class="m">M</span>
    <span class="m">L</span>
    <span class="m">,</span>
    <span class="m">&nbsp;</span>
    <span class="m">A</span>
    <span class="m">I</span>
    <span class="m">,</span>
    <span class="m">&nbsp;</span>
    <span class="m">D</span>
    <span class="m">A</span>
    <span class="m">T</span>
    <span class="m">A</span>
    <span class="m">-</span>
    <span class="m">S</span>
    <span class="m">C</span>
    <span class="m">I</span>
    <span class="m">E</span>
    <span class="m">N</span>
    <span class="m">C</span>
    <span class="m">E</span><br>
    
    <button class="fa"><a href="" target="_blank">Portfolio</a></button>
    <button class="fa"><a href="https://github.com/mzbhewtee" target="_blank">Github</a></button> 
  </h3>
</section>

<section>
  <div class="nav-container">
    <a class="nav-tab" href="#about">About</a>
    <a class="nav-tab" href="#skill">Skill</a>
    <a class="nav-tab" href="#contact">Contact</a>
  </div>
</section>

<main class="main">
  <section class="slider" id="about">
    <img src="{{ url_for('static', filename='images/beauty.jpg')}}" alt="Beauty Ikudehinbu" class="sliders">
    <h1>About Me</h1>
    <h2>I am a Machine Learning and Artificial Intelligence Enthusiast. </h2>
  </section>
  <section class="slider" id="skill">
    <h1>Skills</h1>
    <div class="skill">
      <img src="{{ url_for('static', filename='images/python.png')}}" alt="python logo" class="skills">
      <img src="{{ url_for('static', filename='images/Java.png')}}" alt="java logo" class="skills">
      <img src="{{ url_for('static', filename='images/JS.png')}}" alt="JS logo" class="skills">
      <img src="{{ url_for('static', filename='images/CSS.png')}}" alt="CSS logo" class="skills">
      <img src="{{ url_for('static', filename='images/HTML.png')}}" alt="HTML logo" class="skills">
      <img src="{{ url_for('static', filename='images/sql.png')}}" alt="sql logo" class="skills">
      <img src="{{ url_for('static', filename='images/Flask.png')}}" alt="flask logo" class="skills">
    </div>
    <h2>Everyday, keep learning. One day at a time.</h2>
  </section>
  <section class="slider" id="contact">
    <h1>Contact</h1>
    <div class="socials">
      <a href="https://github.com/mzbhewtee" target="_blank"><i class="fa-brands fa-github"></i></a>
      <a href="mailto:abimbolaikus@gmail.com?" target="_blank"><i class="fa-solid fa-envelope-open"></i></a>
      <a href="https://linkedin.com/in/beauty-ikudehinbu" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
      <a href="https://wa.me/+2348165568501?text=Hello Beauty" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
      <a href="tel:+250784592013" target="_blank"><i class="fa-solid fa-phone"></i></a>
    </div>
    <h3>Copyright &copy; 2022. Made with ❤️ by Beauty Ikudehinbu</h3>
  </section>
</main>

<canvas class="background"></canvas>


<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script><script  src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
